<!-- <div class="container-fluid college-module">
<div id="data-info" data-weeklystats="{{statstObject}}" ></div>
    <div class="col-md-2 full-bar hidden-xs">
        <div class="main-module">
            <div class="main-module--header">FFT</div>
        </div>
        <div class="nav-side-menu main-module-list">
 
        <div class="menu-list">
  
            <ul id="menu-content" class="menu-content collapse out">

                <li><a href="/">Dashboard</a></li>

                <li  data-toggle="collapse" data-target="#reports" class="collapsed">
                  <a>Reports <span class="arrow"></span></a>
                </li>
                
                <ul class="sub-menu collapse" id="reports">
                    <li><a href="college">College</a></li>
                </ul>
            
            </ul>

        </div>

        </div>

    </div>
    <div class="col-md-1 full-bar-xs visible-xs">
        <div class="main-module">
            <div class="main-module--header">FFT</div>
        </div>
    </div>
    <div class="col-md-10">
        <div class="row nav-div">
            <h3 class="heading-class" style="margin-bottom: 5px;
">Dashboard
                <small>Attendance System</small>
            </h3>
</div> -->
<div class="row">

</div>